:root {
    
    // Black shades
    --color-light-black: #302C2C;
    --color-shadow-black: #1f1f1f;

    // Blue shades
    --color-link-blue: #0000ee;
    --color-aqua-dark: #12a1f2;
    --color-aqua-light: #e5f0fa;

    // Purple shades
    --color-link-hover-purple: #551a8b;

    // Grey shades
    --color-grey: #808080;
    --color-light-grey: #C4C4C4;
    --color-deep-grey: #858484;
    --color-hover-grey: #eeeeee;
    --color-row-grey: #f2f2f2;

    // White shades
    --color-white: #ffffff;

    // Pink Shades
    --color-pink: #ff2cb1;

    // Red Shades
    --color-red: #ff0000;
    --color-shadow-red: #ff4747;

    // Green Shades
    --color-green: #00b302;
    --color-shadow-green: #92c399;
}